#default PORT=7540
TODO_PORT=7540
#default WEB_DIR=./web
WEB_DIR=./web
#default TODO_DBFILE=./internal/data/scheduler.db
TODO_DBFILE=./internal/data/scheduler.db
#default TODO_SCHEMA_PATH=./internal/db/schema.sql
TODO_SCHEMA_PATH=./internal/db/schema.sql
#Если пароль пустой, то не проверяет аутентификацию.
TODO_PASSWORD=myPassword
#default TODO_JWT_SECRET=lineForSignature
TODO_JWT_SECRET=lineForSignature